<ion-header class="ion-no-border">
</ion-header>

<ion-content [fullscreen]="true" class="filmes-content">
  <ion-grid class="filmes-grid">

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start">
      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="card-filme">
          <img alt="Silhouette of mountains"
            src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
          <div class="filmes-card-content">
            <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
