<ion-card class="card-filme-pesquisa">
  <img alt="Silhouette of mountains"
    src="https://www.ucicinemas.com.br/Content/Upload/Filmes/Posters/6978/filme_6978.jpg" />
  <div class="filmes-card-content">
    <ion-card-subtitle><ion-icon name="star"></ion-icon> 4.9</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
    <div class="filme-detalhe">2204 16 1h 90m</div>
    <div class="filme-resumo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
      tenetur, est numquam minus atque voluptatem reiciendis fugit maxime. Illum praesentium voluptas deserunt fugit
      corporis non nemo sequi necessitatibus nihil vero!</div>
  </div>
</ion-card>
