<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" class="filme-content">
  <figure class="banner" (click)="abreImagem()">
    <img alt="Silhouette of mountains" src="{{posterFilme}}" />
  </figure>

  <div class="container">
    <div class="filme-header">

      <div class="filme-titulos">
        <h1>{{nomeFilme}}</h1>
        <h2 class="infos">Exemplo: 2024 16 1h90m</h2>
      </div>

      <div class="filme-nota">
        <ion-icon name="star"></ion-icon>
        <div class="nota">Ex: <span>4.5</span>/5.0</div>
      </div>
    </div>

    <div class="filme-sinopse">
      <p>Exemplo: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt quis
        voluptatem, natus dolorem amet consequatur voluptates omnis eveniet deleniti. Adipisci rerum nemo sint velit
        sequivel, veniam dolores nisi incidunt.</p>
    </div>

    <!-- ABRE O MODAL DE COMENTÁRIO -->
    <div class="fazer-av">
      <div expand="block" (click)="setOpen(true)" class="estrela-av"><ion-icon name="star-outline"></ion-icon></div>
      <p>Fazer uma avaliação</p>
    </div>

    <h2 class="titulo-av">Avaliações</h2>
    <ion-list class="avaliacoes-grid">
      <app-card-avaliacao *ngFor="let avaliacao of avaliacoes"></app-card-avaliacao>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  <!-- MODAL -->
  <ion-modal [isOpen]="isModalOpen" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (ionBackdropTap)="setOpen(false)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="block">
          <div class="filme-titulos">
            <h1>{{nomeFilme}}</h1>
            <h2 class="infos">Exemplo: 2024 16 1h90m</h2>
          </div>

          <form action="">
            <!-- Estrelas -->

            <!-- [numStars]="5" define quantas estrelas; [value]="2.5" valor pré definido; [leitura]="true" avaliação não pode ser mudada -->
            <app-avaliacao-estrelas [numStars]="5" [value]="2.5" [leitura]="false"></app-avaliacao-estrelas>

            <ion-textarea label="Escreva sua resenha:" labelPlacement="floating" fill="solid"
              placeholder="Escreva sua resenha..."></ion-textarea>

            <div class="modal-button">
              <ion-button class="modal-button" shape="round" color="primary">Enviar</ion-button>
            </div>
          </form>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
