<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <div class="centraliza-titulo">
      <ion-title class="titulo">Cadastre-se</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content">
  <h1 class="titulo">Aproveite tudo que a <br>OpinaFilme<br> tem a oferecer</h1>

  <div class="container">
    <form [formGroup]="regForm" (ngSubmit)="signUp()">
      <ion-item>
        <ion-input formControlName="fullname" labelPlacement="floating">
          <div slot="label">Nome Completo <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <div *ngIf="regForm.controls?.['fullname'].touched && regForm.controls?.['fullname'].invalid"
        style="text-align: left;">
        <ion-text *ngIf="regForm.controls?.['fullname'].errors?.['required']">Digite seu nome completo</ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="email" labelPlacement="floating" type="email">
          <div slot="label">E-mail <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <div *ngIf="regForm.controls?.['email'].touched && regForm.controls?.['email'].invalid" style="text-align: left;">
        <ion-text *ngIf="regForm.controls?.['email'].errors?.['required']">Digite seu e-mail</ion-text>
        <ion-text *ngIf="regForm.controls?.['email'].errors?.['email']">Digite um e-mail válido</ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="password" labelPlacement="floating" type="password"
          (ionInput)="validatePasswords()">
          <div slot="label">Senha <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <div *ngIf="regForm.controls?.['password'].touched && regForm.controls?.['password'].invalid"
        style="text-align: left;">
        <ion-text *ngIf="regForm.controls?.['password'].errors?.['required']">Digite sua senha</ion-text>
        <ion-text *ngIf="regForm.controls?.['password'].errors?.['pattern']">A senha deve conter pelo menos 1 número, 1
          letra maiúscula, 1 letra minúscula e ter pelo menos 8 caracteres</ion-text>
      </div>

      <ion-item>
        <ion-input formControlName="confirmPassword" labelPlacement="floating" type="password"
          (ionInput)="validatePasswords()">
          <div slot="label">Confirme a Senha <ion-text color="danger">*</ion-text></div>
        </ion-input>
      </ion-item>
      <div *ngIf="regForm.controls?.['confirmPassword'].touched && regForm.controls?.['confirmPassword'].invalid"
        style="text-align: left;">
        <ion-text *ngIf="regForm.controls?.['confirmPassword'].errors?.['required']">Confirme sua senha</ion-text>
        <ion-text *ngIf="!confirmasenha && regForm.controls?.['confirmPassword'].touched">As senhas não
          correspondem</ion-text>
      </div>

      <ion-button type="submit" [disabled]="!confirmasenha">Criar conta</ion-button>
    </form>
  </div>
</ion-content>