<ion-card class="card-avaliacao-pesquisa">

  <figure class="avaliacao-perfil">
    <img alt="Silhouette of mountains"
      src="https://media.licdn.com/dms/image/D4D03AQEWIs2_ALZ9NQ/profile-displayphoto-shrink_800_800/0/1676660585606?e=1723075200&v=beta&t=92RFB3qjl6KOkCNfjX9WNbMc9ktmfducMTeUghDjaGk" />
  </figure>

  <div class="avaliacao-card-content">

    <div class="avaliacao-header">
      <ion-card-title>Ex: Thiago Rocha</ion-card-title>
      <ion-card-subtitle><ion-icon name="star"></ion-icon> Ex: <span>4.9</span>/5.0</ion-card-subtitle>
    </div>

    <div class="avaliacao-resumo">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error dicta iure facilis
        officia provident hic culpa accusantium reprehenderit aperiam, delectus aut excepturi voluptatum voluptates
        similique distinctio sunt. Ratione, recusandae veritatis.</p>
    </div>

  </div>
</ion-card>
